
<header class="presentacion">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="#">MOBIKE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/registrar" href="#">Registrar</a>
              </li>

            </ul>
          </div>
        </nav>
 </header>
