<section id="Registrar">
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1>Registrar</h1>
          <h3>Ingrese sus datos y complete el siguiente formulario!</h3>
        </div>
        <div class="card-body">
          <form>
              <div class="form-group">
                <label for="nombreUsuario">Nombre :</label>
                <input type="text" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Nombre">
              </div>
              <div class="form-group">
                  <label for="apellidoUsuario">Apellidos :</label>
                  <input type="text" class="form-control" id="apellido" aria-describedby="apellido" placeholder="Apellidos">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Correo :</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electronico">
              </div>
              <div class="form-group">
                <label for="telefonoUsuario">Telefono :</label>
                <input type="number" class="form-control" id="telefono" aria-describedby="telefono" placeholder="Telefono">
              </div>
              <div class="form-group">
                <label for="apellidoUsuario">Dirección :</label>
                <input type="text" class="form-control" id="direccion" aria-describedby="direccion" placeholder="Dirección">
              </div>
              <div class="form-group">
                <label for="passUsuario">Contraseña :</label>
                <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Ingrese una contraseña">
              </div>

              <button type="submit" class="btn btn-primary btn-block">Registrar</button>
            </form>
        </div>
      </div>

    </div>
  </section>
