.container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.9rem;
}

.card-header h1 {
  color: #1ebba3;
}

.card-body {
  text-transform: uppercase;
  font-weight: bold;
  color: #117263;
  text-align: left;
}
