.carousel-item img {
  height: auto;
}

.carousel-caption h5 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 0.3rem;
}

.carousel-caption p {
  font-size: 1.6rem;
  text-shadow: .1rem .1rem .3rem black;
  padding-bottom: 1.6rem;
}

.carousel-inner img{
  background-size: cover;
  max-height: 900px;
}

.jumbotron {
  text-align: center;
  padding-bottom: 1.3rem;
}

.tiendas img {
  width: 250px;
  height: auto;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.publicidad col {
  max-width: 900px;
  max-height: 800px;
  display: block;

}

.texto-pub {
  text-align: justify;
  justify-items: auto;
  justify-content: center;
  padding-top: 4.6rem;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
}

.texto-pub h1 {
  text-transform: uppercase;
  color: #117263;
  text-align: center;
  padding-bottom: 1.6rem;
  padding-top: 2.6rem;
}

.texto-pub p {
  font-size: large;
  font-weight: 500;
}

.pagos {
  background: linear-gradient(to bottom,
  rgba(0, 0, 0, 0.6),
  rgba(4, 31, 73, 0.6),
  rgba(2, 50, 59, 0.45)
  );
  color: white;
}

.texto-pago {
  text-align: center;
  justify-items: auto;
  justify-content: center;
  padding-top: 3.3rem;
  padding-left: 3.3rem;
  padding-right: 3.3rem;

}
.texto-pago h1 {
  text-transform: uppercase;
}

.imagen-pagos img {
  max-width: 600px;
  max-height: 600px;
  display:block;
  margin:auto;
  padding-top: 4.9rem;
  padding-bottom: 3.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  background-size: cover;
  width: 100%;
}

.footer {
  background: linear-gradient(to bottom,
  rgba(250, 100, 0, 0.6),
  rgba(201, 65, 2, 0.6),
  rgba(221, 126, 2, 0.45)
  );
}

.footer img {
  max-width: 200px;
  max-height: 200px;
  display:block;
  margin:auto;
}

.footer-text {
  text-align: center;
  color: white;
  padding-bottom: 3.3rem;
  text-decoration: none;
}

.footer-text a {
  text-decoration: none;
  color: white;
}
