<section id="corrusel">
      <div class="bd-example">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="img-fluid" src="../../../assets/img/bike1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Bienvenidos a Mobike</h5>
                  <p>Tu nuevo aliado contra los tacos y el transporte publico saturado</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid" src="../../../assets/img/bike2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Librate de los tacos!</h5>
                  <p>Ayuda al medioambiente pedaleando y mejorando tu salud.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="img-fluid" src="../../../assets/img/bike3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Tu transporte al alcance de tu telefono!</h5>
                  <p>Registrate y podras acceder a nuestros productos</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
        </div>
</section>

<section id="descarga">

      <div class="jumbotron my-0">
          <h1 class="display-4">Descarga Ahora!</h1>
          <p class="lead">Descarga nuestra APP desde las plataformas para Android e IOS</p>
          <hr class="my-4">
          <p class="lead">Tu elijes donde descargar</p>
          <div class="tiendas">
              <a href="https://itunes.apple.com/app/id1044535426"  role="button"><img src="../../../assets/img/home__download_ios.png" alt=""></a>
              <a href="https://play.google.com/store/apps/details?id=com.mobike.mobikeapp" role="button"><img src="../../../assets/img/googlestore.png" alt=""></a>
          </div>
        </div>
</section>

<section id="publicidad1">
<div class="publicidad">
    <div class="row">
        <div class="col-md-6 col-sm-7">
          <img class="img-fluid" src="../../../assets/img/bike4.jpg" alt="">
        </div>
        <div class="col-md-6">
          <div class="texto-pub">
              <h1>Que esperas para usar Mobike!</h1>
              <p>Olvidate del taco, sal y pedalea hasta tu proximo destino, solo tu tienes el control.
                  Ya no tendrás que acarrear tu propia bicicleta a todos lados ni viajar apretado en los autobuses.</p>
              <p>Es hora de un nuevo cambio, uno mas sano y libre de estres en el diario vivir de la ciudad
                Registrate y sorprendete con el cambio de un transporte mas amigable con el medio ambiente.</p>
          </div>
        </div>
      </div>
</div>
</section>

<section id="publicidad2">
  <div class="pagos">
    <div class="texto-pago">
      <h1>Tenemos medios de pagos sensillos y seguros para ti</h1>
      <p>No debes preocuparte por los nuevos tiempos, nosotros nos adaptamos a ti!</p>
    </div>
    <div class="imagen-pagos">
      <img class="img-fluid" src="../../../assets/img/medios-de-pago.png" alt="">
    </div>
  </div>
</section>

<section id="recomendacion">
    <div class="jumbotron my-0">
        <h1 class="display-4">Porque Usar Mobike</h1>
        <p class="lead">Te entregamos algunos motivos para que uses este servicio!</p>
        <hr class="my-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/img/jardin.png" alt="">
                <p>Ayuda al medio ambiente con un transporte ecologico</p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/img/latido-del-corazon.png" alt="">
                <p>Cuida tu salud haciendo deporte mientras viajas</p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/img/tarjeta-de-debito.png" alt="">
                <p>Te ayudamos con los medios de pago a tu medida</p>
            </div>
          </div>
        </div>
      </div>
</section>

<section id="footer">
  <div class="footer">
    <img src="../../../assets/img/bike5.jpg" alt="">
    <div class="footer-text">
        <p>© 2019 Mobike</p>
        <p>Todos los derechos reservados | <a href="#"> soporte@mobike.com</a></p>
    </div>
  </div>
</section>
