<section id="login">
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h1>Login</h1>
        <h4>Ingrese sus datos para ingresar!</h4>
      </div>
      <div class="card-body">
        <form action="" method="POST" #form="ngForm" (ngSubmit)="signin(form)">
            <div class="form-group">
              <label for="exampleInputEmail1">Usuario</label>
              <input type="email" name="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" id="email" aria-describedby="emailHelp" placeholder="Usuario o Email" required email>

              <div class="error" *ngIf="form.submitted && email.invalid">
                <p class="alert alert-danger" *ngIf="email.errors.required">Este Campo es requerido!</p>
                <p class="alert alert-danger" *ngIf="email.errors.email">Correo invalido!</p>
              </div>

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" id="password" placeholder="Contraseña" required minlength="3">

              <div class="error" *ngIf="form.submitted && email.invalid">
                <p class="alert alert-danger" *ngIf="password.errors.required">Este Campo es requerido!</p>
                <p class="alert alert-danger" *ngIf="password.errors.minlength">Minimo 3 caracteres!</p>
              </div>

            </div>
            <button type="submit" class="btn btn-success btn-block">Ingresar</button>
          </form>
      </div>
    </div>

  </div>
</section>
